<%- include('../partials/index.ejs');  %> 
<body>
	<div
		style="height: 100vh"
		class="d-flex justify-content-center align-items-center bg-dark"
	>
		<div class="d-flex flex-column justify-content-center align-items-center">
			<h1 class="text-center mb-4 text-light">
				Bienvenido a la API de Productos
			</h1>
			<div>
				<a href="/api/productos/vista" class="btn btn-light"
					>LISTADO DE PRODUCTOS</a
				>
				<a href="/api/productos/agregar" class="btn btn-light"
					>AGREGAR PRODUCTO</a
				>
			</div>
		</div>
	</div>
</body>
